# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development
.env.production
.env.test
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# Documentación interna
guia*
*guia*

# Archivos de documentación temporal/personal
ARCHIVOS-PARA-MIGRACION.md
AUTENTICACION-NEXTAUTH.md
DIAGNOSTICO-REALTIME.md
ESTRUCTURA-PROYECTO.md
PLAN-INTEGRACIONES-MENSAJERIA.md
PROXIMOS-PASOS-CHAT.md
PROXIMOS-PASOS-MARTES.md

# Archivos temporales
notepad
Notepad*
*.tmp

# Documentación interna de Supabase
src/lib/supabase/

# Archivos SQL
*.sql
sql/
estructura.sql
scripts/
